<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>251 S 3rd st APT 4A</p>
          <p>Brooklyn NY 11211</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Contact Information</h3>
          <p>E-mail: zl1164@nyu.edu</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Objective</h3>
          <p>Seeking a challenging career in Software Development or Web Application Development.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Mark Li 2014
        </div>
      </div>
    </div>
  </div>
</footer>