<!-- Portfolio Grid Section -->
<section id="portfolio">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2>Professional Experience</h2>
               <hr class="star-primary">
           </div>
       </div>
       <div class="row">
           <div class="col-sm-4 portfolio-item">
               <h3>ReadTo</h3>
           </div>
           <div class="col-sm-4 portfolio-item">
               <h3>Twitter Monitor</h3>
           </div>
       </div>
   </div>
</section>