<!-- Portfolio Grid Section -->
<section id="portfolio">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2>Professional Experience</h2>
               <hr class="star-primary">
           </div>
       </div>
       <div class="row">
           <div class="col-sm-4 portfolio-item">
               <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                   <div class="caption">
                       <div class="caption-content">
                           <i class="fa fa-search-plus fa-3x"></i>
                       </div>
                   </div>
                   <img src="img/twitter_circle_black-512.png" class="img-responsive" alt="">
               </a>
           </div>
           <div class="col-sm-4 portfolio-item">
               <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                   <div class="caption">
                       <div class="caption-content">
                           <i class="fa fa-search-plus fa-3x"></i>
                       </div>
                   </div>
                   <img src="img/Book_icon_(white_on_black).svg.png" class="img-responsive" alt="">
               </a>
           </div>
           <div class="col-sm-4 portfolio-item">
               <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                   <div class="caption">
                       <div class="caption-content">
                           <i class="fa fa-search-plus fa-3x"></i>
                       </div>
                   </div>
                   <img src="img/jykell.png" class="img-responsive" alt="">
               </a>
           </div>
       </div>
   </div>
</section>